.cart-item {
  margin-top: 80px;

  h1 {
    font-size: 36px;
    font-weight: 600;
    color: $font-color-black;
    margin-bottom: 20px;

    @include onMobile {
      padding-left: 20px;
    }
  }
  &__box {
    // background-color: yellow;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    // max-height: 500px;
    // overflow: hidden;

    @include onLaptop {
      padding: 20px;
    }

    @include onMobile {
      display: block;
      padding: 20px;
    }

    .cart-item__img {
        width: 100%;
        height: 100%;

        @include onLaptop {
          max-width: 100%;
          height: auto;
        }
        

      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }

    .cart-item__content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 32px;

      h2 {
        font-style: 20px;
        font-weight: 600;
        color: $font-color-black;
      }

      button {
        max-width: 250px;
        padding: 12px 30px;
        font-size: 20px;
        font-weight: 500;
        color: $font-color-white;
        background-color: $font-color-green;
        border: 2px solid $font-color-green;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;

        transition: background-color 0.3s ease;

        @include onMobile {
          margin-left: 0px;
        }

        &:hover {
          color: $font-color-green;
          background-color: $font-color-white;
        }
      }

      .cart-description {
        font-weight: bold;
        font-size: calcFluidFontSize(18, 20, 480, 1280);
      }

      p:last-child{
        font-size: calcFluidFontSize(16, 20, 480, 1280);
    }
    }
  }
}
