.error-page{
    background-image: url("../../../../public/ErrorPage/imageErrorAI1.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 80px);

    @include onMobile{
        margin-top: 52px;
      }
}