.footer {
  margin-top: 80px;

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-contact__box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;

    // background-color: yellowgreen;

    @include onMobile {
      flex-direction: column;
      gap: 32px;
      padding: 10px;
    }
  }

  &-contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & > h5 {
      font-size: calcFluidFontSize(28, 36, 480, 1280);
      font-weight: 700;
    }

    & > h1 {
      font-size: calcFluidFontSize(36, 50, 480, 1280);
      font-weight: 600;
    }

    &__icon {
      display: flex;
      gap: 16px;

      .instagram,
      .whatsapp {
        cursor: pointer;

        figure {
        }

        img {
          display: block;
          width: 46px;
          height: 46px;
          margin: 0 auto;
          transition: transform 0.3s;

          &:hover{
            filter: invert(50%);
            transform: scale(1.1);
          }
        }

        figcaption {
          margin-top: 15px;
        }
      }
    }
  }

  &-address {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & > h5 {
      font-size: calcFluidFontSize(28, 36, 480, 1280);
      font-weight: 700;
    }

    & > .address {
      display: inline-block;
      // background-color: yellow;
      text-decoration: none;
      font-size: calcFluidFontSize(20, 30, 480, 1280);
      font-weight: 500;
      color: $font-color-black;
      width: auto;
    }

    & > p:first-child {
      font-size: 18px
    }

    & > p:last-child {
      font-size: 24px
    }
  }

  &-map {
    margin-bottom: 20px;

    @include onMobile{
      padding: 10px;
    }

    & > iframe {
      width: 100%;
    }
  }
}
