.home-sale {
  &__content {
    width: 100%;

    &-title {
      display: flex;
      margin-bottom: 20px;

      @include onMobile {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
      }

      & > h2 {
        @include onLaptop{
          margin: 0 auto;
        }
        
      }

      & > button {
        padding: 14px 30px;
        margin-left: 30px;
        font-size: 14px;
        font-weight: 600;
        color: $font-color-green;
        border: 2px solid $font-color-green;
        border-radius: 5px;
        cursor: pointer;

        transition: background-color 0.3s ease;

        @include onMobile {
          margin-left: 0px;
        }

        &:hover {
          color: $font-color-white;
          background-color: $font-color-green;
        }
      }
    }
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;

    &>a{
      text-decoration: none;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #dfdfdf;
      border-radius: 4px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $font-color-green;
      border-radius: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $font-color-green;
    }
  }

  &__product {
    position: relative;
    padding: 10px;
    max-width: 278px;
    height: 100%;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;

    & > h6 {
      position: absolute;
      top: 30px;
      right: 30px;

      padding: 5px 10px;
      color: $font-color-white;
      background-color: red;
      border-radius: 104px;
      font-size: 24px;
      font-weight: 600;
      z-index: 1;
    }

    & > img {
      display: block;
      width: 100%;
      min-height: 278px;
      object-fit: cover;
      border-radius: 20px;
      margin-top: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      opacity: 1;

      &:hover {
        opacity: 0.8;
        transform: scale(1.05);
        transition: transform 0.5s ease;
      }
    }

    & > .home-sale__product-link {
      display: block;
      font-size: 16px;
      font-weight: 500;
      color: $font-color-black;
      padding: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      // @include linkUnderlineHover($font-color-black);
    }

    & > p {
      font-size: 16px;
      font-weight: 600;
      color: red;
      padding: 10px;

      & > span {
        font-size: 20px;
        font-weight: 500;
        color: $font-color-black;
        text-decoration: line-through;
      }
    }
  }
}
