.home-catalog {

  &__content {

    h2 {
      margin-top: 16px;
    }

  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 60px;

    h2{
      margin: 0;
    }

    @include onLaptop{
      justify-content: center;
      align-items: center;
    }

    @include onMobile{
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }

    

    &-btn {
      padding: 14px 30px;
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      color: $font-color-green;
      border: 2px solid $font-color-green;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;

      transition: background-color 0.3s ease;

      @include onMobile{
        margin-left: 0px;
      }

      &:hover {
        color: $font-color-white;
        background-color: $font-color-green;
      }


    }
  }

  &__carts {
    display: flex;
    gap: 20px;
    overflow-x: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #dfdfdf;
      border-radius: 4px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $font-color-green;
      border-radius: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $font-color-green;
    }
  }

  &__cart {
    padding: 10px;
    margin-bottom: 16px;
    min-width: 278px;
    min-height: 250px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;

    img {
      width: 100%;
      min-height: 278px;
      object-fit: cover;
      border-radius: 20px;
      margin-top: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      opacity: 1;

      &:hover {
        opacity: .8;
        transform: scale(1.05);
        transition: transform 0.5s ease;
      }
    }

    h3 {
      padding: 16px;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      // color: $font-color-green;
      transition: all 0.3s ease;
    }

    &:hover {
      h3 {
        transform: scale(0.9);
      }

    }
  }
}

.tag__item .products-cards__title-link{
  // background-color: red;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}
