.header {
    display: flex;
    justify-content: center;
    align-items: center;
  
    @include onMobile{
      margin-top: 52px;
    }
  
    background-image: url("../../../../public/Home/garden1.svg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 80px);
    border: 1px solid rgb(30, 49, 103);
  
    &__content {
      margin: 0 auto;
      text-align: center;
      
      @include onMobile{
        margin-bottom: -80px;
      }
  
      h1{
        color: $font-color-white;
        font-size: calcFluidFontSize(42, 64, 480, 1280);
        font-weight: 700;
        margin-bottom: 48px;

        @include onMobile{
          margin-bottom: 130px;
        }
      }
  
      a{
        display: block;
        width: 100%;
        padding: 14px;
        font-size: 24px;
        border-radius: 8px;
        border: $font-color-green;
        background-color: $font-color-white;
  
        text-decoration: none;
        color: $font-color-green;
        font-weight: 600;
        cursor: pointer;

        transition: background-color 0.3s ease;
  
        &:hover{
          color: $font-color-white;
          background-color: $font-color-green;
          border: none;
        }
  
        @include onMobile{
          // margin-top: 200px;
        }
  
      }
    }
  }