@import "fonts";
@import "variables";
@import "mixin";

@import '../styles/pages/nav.scss';
@import '../styles/pages/homeheader.scss';
@import '../styles/pages/homecatalog.scss';
@import '../styles/pages/homediscount.scss';
@import '../styles/pages/homesale.scss';
@import '../styles/pages/footer.scss';
@import '../styles/pages/errorpage.scss';
@import '../styles/pages/maincatalog.scss';
@import '../styles/pages/products.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

// ========== link a start =========

// a {
// 	position: relative;
// 	text-decoration: none;
// }

// a::before {
// 	content: '';
// 	position: absolute;
// 	left: 0; bottom: -5px;
// 	width: 0;
// 	height: 1px;
// 	background-color: $font-color-green;
// }

// a:hover:before {
// 	width: 100%;
// }

// a::before {
// 	transition: width 0.35s;
// }

// ========== link a end =========
.container {
  max-width: 1172px;
  margin: 0 auto;
  // padding: 24px 0;
  // background-color: rgb(252, 246, 198);
}



